<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="shippingAPISoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="shippingAPISoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.royalmail.net/shipping/v2" binding="basicHttpBinding"
                bindingConfiguration="shippingAPISoapBinding" contract="RoyalMailApiWsdl.shippingAPIPortType"
                name="shippingAPIPort" />
        </client>
    </system.serviceModel>
</configuration>