<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  
  <appSettings>

    <!-- These are acquired from https://developer.royalmail.net and used in http post header itself -->
    <add key="RoyalMailApiClientId" value=""/>
    <add key="RoyalMailApiClientSecret" value=""/>

    <!-- These comes in the email from Royal Mail after you register for API -->
    <add key="RoyalMailApiUsername" value=""/>
    <add key="RoyalMailApiPassword" value=""/>
    <add key="RoyalMailApiApplicationId" value=""/>

  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicBindingTransport" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://api.royalmail.net/shipping/v2" binding="basicHttpBinding"
                bindingConfiguration="basicBindingTransport" contract="RoyalMailApiWsdl.shippingAPIPortType" name="shippingAPIPort" />
    </client>
  </system.serviceModel>
  
  <!-- START of Log4net -->
  <log4net threshold="ALL" debug="false">
   
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="Log\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false" />
      <datePattern value="yyyy.MM.dd'.log'" />
      <maximumFileSize value="10000KB" />
      <maxSizeRollBackups value="60" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%5level [%date{HH:mm:ss,fff}] (%type{1}:%line) - %message%newline" />
      </layout>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date{HH:mm:ss,fff}] (%type{1}:%line) - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="All" />
      <appender-ref ref="RollingFile" />
      <appender-ref ref="ConsoleAppender" />
    </root>

  </log4net>
  <!-- END of Log4net -->
  
</configuration>